<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codemanage.code.mapper.CdPptyRMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codemanage.code.entity.CdPptyR">
        <result column="hlv_cv_cd_ppty_id" property="hlvCvCdPptyId" />
        <result column="hlv_cv_cd_id" property="hlvCvCdId" />
        <result column="llv_cv_cd_ppty_id" property="llvCvCdPptyId" />
        <result column="llv_cv_cd_id" property="llvCvCdId" />
        <result column="fnl_yn" property="fnlYn" />
        <result column="rec_bgn_dttm" property="recBgnDttm" />
        <result column="rec_fnsh_dttm" property="recFnshDttm" />
        <result column="cv_ppty_rlts_dsts_cd" property="cvPptyRltsDstsCd" />
        <result column="rlts_expl_txt" property="rltsExplTxt" />
        <result column="sort_srno" property="sortSrno" />
        <result column="cret_cv_user_id" property="cretCvUserId" />
    </resultMap>
    <select id="getCount" resultType="java.lang.Integer"
            parameterType="com.codemanage.code.dto.request.CdPptyRQueryDto">
        SELECT COUNT( * ) cnt
        FROM
            (
                select
                    COALESCE(hp.cd_ppty_nm, '=100') as cd_ppty_nm,
                    pr.rec_bgn_dttm,
                    COALESCE(hp.rec_bgn_dttm, '9999-12-31 00:00:00.000000') as ppty_m_rec_bgn_dttm,
                    (select cd_lgc_nm from cvcd_cd_m where cv_cd_id = pr.hlv_cv_cd_id and rec_fnsh_dttm = '9999-12-31 00:00:00.000000') as cd_lgc_nm,
                    1 as srno
                from
                    cvcd_cd_ppty_r pr
                    left outer join cvcd_cd_ppty_m hp on pr.hlv_cv_cd_ppty_id = hp.cv_cd_ppty_id and hp.cv_cd_id = pr.hlv_cv_cd_id and hp.rec_fnsh_dttm = '9999-12-31 00:00:00.000000'
                where
                    pr.hlv_cv_cd_id = #{dto.hlvCvCdId} and
                    pr.llv_cv_cd_id = #{dto.llvCvCdId} and
                    pr.rec_fnsh_dttm = '9999-12-31 00:00:00.000000'
                union all
                select
                    COALESCE(lp.cd_ppty_nm, '=100') as cd_ppty_nm,
                    pr.rec_bgn_dttm,
                    COALESCE(lp.rec_bgn_dttm, '9999-12-31 00:00:00.000000') as ppty_m_rec_bgn_dttm,
                    (select cd_lgc_nm from cvcd_cd_m where cv_cd_id = pr.llv_cv_cd_id and rec_fnsh_dttm = '9999-12-31 00:00:00.000000') as cd_lgc_nm,
                    2 as srno
                from
                    cvcd_cd_ppty_r pr
                    left outer join cvcd_cd_ppty_m lp on pr.llv_cv_cd_ppty_id = lp.cv_cd_ppty_id and lp.cv_cd_id = pr.llv_cv_cd_id and lp.rec_fnsh_dttm = '9999-12-31 00:00:00.000000'
                where
                    pr.hlv_cv_cd_id = #{dto.hlvCvCdId} and
                    pr.llv_cv_cd_id = #{dto.llvCvCdId} and
                    pr.rec_fnsh_dttm = '9999-12-31 00:00:00.000000'
            ) A;
    </select>
    <select id="getTableMap" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="getDataListMap" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sql}
    </select>

    <select id="getPptyR" resultType="com.codemanage.code.dto.response.CdPptyRVo"
            parameterType="com.codemanage.code.dto.request.CdPptyRQueryDto">
        SELECT
            hlv_cv_cd_id,
            hlv_cv_cd_ppty_id,
            COALESCE(( SELECT cd_ppty_nm FROM cvcd_cd_ppty_m WHERE cv_cd_ppty_id = hlv_cv_cd_ppty_id AND cv_cd_id = hlv_cv_cd_id and rec_fnsh_dttm = '9999-12-31 00:00:00.000000'), '=100') hlv_cd_ppty_nm,
            llv_cv_cd_id,
            llv_cv_cd_ppty_id,
            COALESCE(( SELECT cd_ppty_nm FROM cvcd_cd_ppty_m WHERE cv_cd_ppty_id = llv_cv_cd_ppty_id AND cv_cd_id = llv_cv_cd_id and rec_fnsh_dttm = '9999-12-31 00:00:00.000000'), '=100') llv_cd_ppty_nm,
            rlts_expl_txt,
            sort_srno
        FROM
            cvcd_cd_ppty_r
        WHERE
            hlv_cv_cd_id =  #{dto.hlvCvCdId}
          AND llv_cv_cd_id = #{dto.llvCvCdId}
          AND rec_fnsh_dttm = '9999-12-31 00:00:00.000000'
        ORDER BY
            sort_srno
    </select>

</mapper>
