<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codemanage.code.mapper.CdPtyvMMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codemanage.code.entity.CdPtyvM">
        <id column="cv_cdvl_id" property="cvCdvlId" />
        <result column="cv_cd_ppty_id" property="cvCdPptyId" />
        <result column="cv_cd_id" property="cvCdId" />
        <result column="rec_fnsh_dttm" property="recFnshDttm" />
        <result column="rec_bgn_dttm" property="recBgnDttm" />
        <result column="cv_cd_sphr_id" property="cvCdSphrId" />
        <result column="cd_ppty_vl" property="cdPptyVl" />
        <result column="cd_ptyv_expl_txt" property="cdPtyvExplTxt" />
        <result column="fnl_yn" property="fnlYn" />
        <result column="sort_srno" property="sortSrno" />
        <result column="cret_cv_user_id" property="cretCvUserId" />
    </resultMap>

    <select id="getTempVoList" resultType="com.codemanage.code.dto.response.CdPtyvMTempVo"
            parameterType="com.codemanage.code.dto.request.CdPptyMQueryDto">
        SELECT
            A.cd_ppty_nm,
            b.cv_cdvl_id,
            C.cd_ppty_vl
        FROM
            cvcd_cd_ppty_m
                A JOIN cvcd_cdvl_m b ON A.cv_cd_id = b.cv_cd_id
                AND A.rec_fnsh_dttm = '9999-12-31 00:00:00.000000'
                AND b.rec_fnsh_dttm = '9999-12-31 00:00:00.000000'

                  LEFT JOIN cvcd_cd_ptyv_m C ON A.cv_cd_id = C.cv_cd_id
                AND A.cv_cd_ppty_id = C.cv_cd_ppty_id
                AND b.cv_cdvl_id = C.cv_cdvl_id
                AND C.rec_fnsh_dttm = '9999-12-31 00:00:00.000000'
        WHERE 1=1
        <if test="null != dto">
            <if test="null != dto.cvCdId and '' != dto.cvCdId">
                AND A.cv_cd_id = #{dto.cvCdId}
            </if>
        </if>
    </select>

    <select id="getDataListMap" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sql}
    </select>

</mapper>
