<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codemanage.accesshistory.mapper.SysOprtGMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codemanage.accesshistory.entity.SysOprtG">
        <id column="cv_oprt_log_srno" property="cvOprtLogSrno" />
        <result column="cv_user_id" property="cvUserId" />
        <result column="rec_time_dttm" property="recTimeDttm" />
        <result column="sys_ip" property="sysIp" />
        <result column="log_pgm_nm" property="logPgmNm" />
        <result column="oprt_rslt_expl_txt" property="oprtRsltExplTxt" />
        <result column="oprt_parm_nm" property="oprtParmNm" />
        <result column="oprt_smpt_expl_txt" property="oprtSmptExplTxt" />
        <result column="oprt_dtl_expl_txt" property="oprtDtlExplTxt" />
        <result column="cv_log_rec_cd" property="cvLogRecCd" />
        <result column="cv_gatr_tp_cd" property="cvGatrTpCd" />
    </resultMap>

    <select id="getList" resultType="com.codemanage.accesshistory.dto.response.SysOprtGVo">
        select g.*, cubm.user_nm, cubm.cv_lgn_id
        from cvso_sys_oprt_g g
        inner join cvso_user_basi_m cubm on g.cv_user_id = cubm.cv_user_id
        where 1=1
        <if test="null != dto">
            <if test="null != dto.cvLgnId and '' != dto.cvLgnId">
                AND g.cv_lgn_id = #{dto.cvLgnId}
            </if>
            <if test="null != dto.userNm and '' != dto.userNm">
                AND cubm.user_nm like concat('%',#{dto.userNm},'%')
            </if>
            <if test="null != dto.beginTime and null != dto.endTime">
                AND g.rec_time_dttm between #{dto.beginTime} and #{dto.endTime}
            </if>
        </if>
        order by g.rec_time_dttm desc
    </select>

</mapper>
