<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codemanage.system.mapper.AuthRMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codemanage.system.entity.AuthR">
        <result column="hlv_cv_auth_obj_id" property="hlvCvAuthObjId" />
        <result column="llv_cv_auth_obj_id" property="llvCvAuthObjId" />
        <result column="rec_bgn_dttm" property="recBgnDttm" />
        <result column="rec_fnsh_dttm" property="recFnshDttm" />
        <result column="hlv_cv_auth_obj_dsts_cd" property="hlvCvAuthObjDstsCd" />
        <result column="llv_cv_auth_obj_dsts_cd" property="llvCvAuthObjDstsCd" />
        <result column="fnl_yn" property="fnlYn" />
        <result column="cret_cv_user_id" property="cretCvUserId" />
    </resultMap>

</mapper>
